/* font-family: "Merriweather", serif; */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

/* font-family: "Roboto", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import "tailwindcss";

.homeBanner {
  height: calc(100vh - 120px);

  @media (max-width: 640px) {
    height: calc(100vh - 200px);
  }

  @media (min-width: 641px) and (max-width: 768px) {
    height: calc(100vh - 100px);
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    height: calc(100vh - 120px);
  }

  @media (min-width: 1025px) {
    height: calc(100vh - 180px);
  }
}

/* RealScout simple search widget theming */
realscout-simple-search {
  --rs-ss-font-primary-color: #000000;
  --rs-ss-searchbar-border-color: #8b572a;
  --rs-ss-box-shadow: 0 10px 15px -3px #0000001a;
  --rs-ss-widget-width: 100%;
}

@media (min-width: 640px) {
  realscout-simple-search {
    --rs-ss-widget-width: 500px;
  }
}

/* RealScout office listings widget theming */
realscout-office-listings {
  --rs-listing-divider-color: #0e64c8;
  width: 100%;
}

/* RealScout home value widget theming */
realscout-home-value {
  --rs-hvw-background-color: #ffffff;
  --rs-hvw-title-color: #000000;
  --rs-hvw-subtitle-color: rgba(28, 30, 38, 0.5);
  --rs-hvw-primary-button-text-color: #ffffff;
  --rs-hvw-primary-button-color: rgb(35, 93, 137);
  --rs-hvw-secondary-button-text-color: rgb(35, 93, 137);
  --rs-hvw-secondary-button-color: #ffffff;
  --rs-hvw-widget-width: auto;
}

/* RealScout advanced search widget theming */
realscout-advanced-search {
  --rs-as-button-text-color: #ffffff;
  --rs-as-background-color: #000000;
  --rs-as-button-color: #8b572a;
  --rs-as-widget-width: 100%;
}

@media (min-width: 640px) {
  realscout-advanced-search {
    --rs-as-widget-width: 500px;
  }
}